<script>
    $(document).ready(function ()
    {

        $('#submitB').click(function () {

            $('#submitB').attr("disabled", true);
            $('#TicketReplyManagerAddForm').submit();
        });

        $('#chatbox').scrollTop($('#chatbox').prop('scrollHeight'));

    });
</script>
<div class="page-content-wrapper">
    <div class="page-content">

        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <h3 class="page-title">
                    <?php echo CakeSession::read('PropertyName'); ?><small> View Messages</small>
                </h3>
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <?php echo $this->Html->link('Home', array('controller' => 'users', 'action' => 'manager_home_page')); ?>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="">View Messages</a>
                    </li>
                    <li class="pull-right">
                        <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
                            <i class="icon-calendar"></i>
                            <span></span>
                            <i class="fa fa-angle-down"></i>
                        </div>
                    </li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <div id="flashMessages">
            <h2><?php echo $this->Session->flash(); ?></h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Subject: <?php echo $ticket['Ticket']['subject']; ?>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>

                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <div id="chatbox" style="width:100%; height: 300px; overflow-y: scroll;">
                            <ul class="chats">
                                 <?php
                              
                                    if ($ticket['Ticket']['user_id'] != AuthComponent::user('id')) {
                                        ?>
                                        <li class="in">
                                            <div class="avatar" >
                                                <img class="avatar" alt="" src="/assets/admin/layout/img/avatar3.jpg">  </div>
                                            <?php
                                        } else {
                                            ?>
                                        <li class="out">
                                            <div class="avatar" >
                                                <img class="avatar" alt="" src="/assets/admin/layout/img/avatar2.jpg">  </div>
                                            <?php
                                        }
                                    
                                    ?>


                                    <div class="message">
                                        <span class="arrow">
                                        </span> 
                                         <?php
                                        if ($ticket['User']['role_id'] != 1) {
                                            echo "PROPERTY : " . $ticket['Ticket']['property_name'] . " BY : " . $ticket['User']['username'];
                                          
                                        } else {
                                            if ($ticket['Ticket']['user_id'] == AuthComponent::user('id')) {
                                                echo "You:";
                                            }else{
                                               echo "Admin:"; 
                                            }
                                        }
                                        ?>
                                        <span class="datetime">
                                            at <?php echo $this->Time->niceShort($ticket['Ticket']['created']); ?> </span>
                                        <span class="body">
                                            <?php echo $ticket['Ticket']['message']; ?>	</span>						
                                    </div>
                                </li> 
                                <?php
                                foreach ($ticketReply as $ticketRep) {
                                    if (AuthComponent::user('id') == $ticketRep['TicketReply']['user_id']) {
                                        ?>
                                        <li class="out">
                                            <div class="avatar" >
                                                <img class="avatar" alt="" src="/assets/admin/layout/img/avatar2.jpg">  </div>
                                            <?php
                                        } else {
                                            ?>
                                        <li class="in">
                                            <div class="avatar" >
                                                <img class="avatar" alt="" src="/assets/admin/layout/img/avatar3.jpg">  </div>
                                        <?php }
                                        ?>


                                        <div class="message">
                                            <span class="arrow">
                                            </span>
                                            <?php /* if(!$user_id==$ticket['Ticket']['user_id'])
                                              {
                                              echo $name;

                                              }
                                              else
                                              {
                                              echo $ticket['User']['username'];

                                              } */ ?> 
                                            <?php
                                            if (AuthComponent::user('id') != $ticketRep['TicketReply']['user_id'])  {
                                                
                                                        echo "PROPERTY :  " . $ticket['Ticket']['property_name'] . "  BY : " . $ticketRep['User']['username'];
                                                
                                            } else {
                                                echo "You";
                                            }
                                            ?>
                                            <span class="datetime">
                                                at <?php echo $this->Time->niceShort($ticketRep['TicketReply']['created']); ?> </span>
                                            <span class="body">
                                                <?php echo $ticketRep['TicketReply']['reply_body']; ?>	</span>       
                                        </div>
                                    </li>

                                <?php } //die;
                                ?>


                            </ul>
                        </div>


                        <?php  echo $this->Form->create('TicketReply', array('url'=>array('action' => 'manager_add'), 'class' => 'chat-form')) ?>

                        <div class="row">
                            <div class="input-cont">
                                <?php
                                echo $this->Form->input('user_id', array('label' => false,
                                    'errorMessage' => false,
                                    'value' => $user_id, 'type' => 'hidden',
                                    'class' => 'form-control'));
                                ?>
                                <?php
                                echo $this->Form->input('ticket_id', array('label' => false,
                                    'errorMessage' => false,
                                    'value' => $ticket['Ticket']['id'], 'type' => 'hidden',
                                    'class' => 'form-control'));
                                ?>

                                <?php
                                echo $this->Form->input('reply_body', array('label' => false,
                                    'errorMessage' => false,
                                    'required' => true,
                                    'type' => 'textarea',
                                    'rows' => 2,
                                    'placeholder' => 'Type a message here...',
                                    'class' => 'ckeditor'));
                                if ($this->Form->isFieldError('reply_body')) {
                                    echo $this->Form->error('reply_body', array('div' => false, 'attributes' => array('wrap' => 'span', 'class' => 'model-error')));
                                }
                                ?>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-md-9">
                                <button type="submit" class="btn green" id="submitB" >  Send</button>
                            </div>

                        </div>						
                        <?php echo $this->Form->end(); ?>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
