
<div class="page-content-wrapper">
		<div class="page-content">
<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
				<h3 class="page-title">RFID Tags<small>Add RFID Tag Numbers</small></h3>      					
					<div class="tabbable tabbable-custom boxless tabbable-reversed">
							<div class="tab-pane active" id="tab_0">
								<div class="portlet box green">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-gift"></i><?php Add RFID Tag Numbers; ?>
										</div>

									</div>

										<!-- BEGIN FORM-->

									<div class="portlet-body form">

									<?php echo $this->Form->create('CustomerPass',array('class'=>'form-horizontal'));
                                         //echo $this->Html->link(__('List Existing Packages'), array('action' => 'index',$propertyId,$propertyName));
									?>
                                    <div class="form-body">
                                              <h3><?php echo $this->Session->flash();?></h3>
                                         <?php
                                                    echo $this->Form->input('id');
                                                  	
                                          ?>
                                           <div class="form-actions fluid">
												<div class="col-md-offset-3 col-md-9">
													<button type="submit" class="btn blue">Submit</button>
													<!--<button type="button" class="btn default">Cancel</button>-->
												</div>
											</div>
                                         <?php echo $this->Form->end(); ?>
                                     </div>

										<!-- END FORM-->
									</div>
								</div>

							</div?

					</div>
				</div>
			</div>
			<!-- END PAGE CONTENT-->



