/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
.login{
background-color:#ffffff !important;}
#flashMessages div {
    background: no-repeat 5px 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 5px 5px -5px #555;
    margin-bottom: .5em;
    min-height: 24px;
    padding: 5px 10px 5px 35px;
}

#flashMessages .error {
    background-color: #FFCCCC;
    background-image: url("../img/error.png");
    border-color: #8F0000;
    color: #8F0000;
}

#flashMessages .notice {
    background-color: #e6ecf2;
    background-image: url("../img/notice.png");
    border-color: #314e6c;
    color: #314e6c;
}

#flashMessages .success {
    background-color: #DEFADE;
    background-image: url("../img/success.png");
    border-color: #267726;
    color: #267726;
}

#flashMessages .warning {
    background-color: #FFEEBF;
    background-image: url("../img/warning.png");
    border-color: #B87D00;
    color: #B87D00;
}

.model-error{
    color:red;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
}
.page-header.navbar{
    background-color: #ffffff;
}
.sidebar-search2{padding: 0px;
margin: 15px 13px;}

.sidebar-search2 .input-group{border-bottom: 1px solid #4D4D4D;}

.sidebar-search2 .input-group .form-control {
    background-color: #3D3D3D;
    color: #616161;
    border: none;
}

.sidebar-search2 .input-group .input-group-btn .btn > i {
    color: #616161;
}

.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed .sidebar-search2 .input-group {
    border-color: transparent;
    margin-left: -9px;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed .sidebar-search2 .input-group .form-control {
    display: none;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed .sidebar-search2 .input-group .input-group-btn .btn {
    display: block;
}
.page-sidebar .sidebar-search2 .remove{display:none;}
.error {
    color: red;
}
.page-header.navbar {        
 height: 50px;    
 min-height: 46px;      
 padding: 4px;    
 background-color: #f5f5f5;    
 border-bottom: 1px solid #333;
 }

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
    padding: 10px 6px 11px 14px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle .username {
    color: #fff;
    font-weight: 500;
    margin-left: 0;
}

.page-sidebar .page-sidebar-menu > li > a {
    color: #fff;
}

.page-sidebar .page-sidebar-menu > li > a > i,
.page-sidebar .page-sidebar-menu > li > a,
.page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"], 
.page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
    color: #fff;
}

a.goog-te-menu-value:hover {
    text-decoration: none;
}

div#google_translate_element {
    margin: 8px 0;
}

.navbar-nav>li>a {
    padding-top: 11px;
    padding-bottom: 10px;
    background-color: #003E8F;
    color: #fff;
    margin-left: 4px;
}


.dropdown-menu li > a {
    padding: 6px 8px 6px 8px;
}

/*.login .content {
    background-color: #f5f5f5;
    width: 430px;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 30px 40px;
}

.login .content .form-actions {
    background-color: transparent;
}

*/

table.changeVehicleTable td {
    padding: 10px 9px;
    text-align: left;
    vertical-align: middle;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    font-size: 14px;
}

.titleclass {
	font-weight: 500;
	width: 15%;
}

.changeVehicles {
    border: 1px solid #DA473B;
    border-top: 0;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.changeVehicleTitle {
    background-color: #da473b;
    margin-bottom: 0px;
    padding: 10px 10px 4px 10px;
    border-bottom: 1px solid #eee;
    color: #fff;
}

.changeVehicleTitle p {
    font-size: 18px;
}

.changeVehicleTable {
    width: 100%;
}

.chats {
    margin: 0 10px;
    margin-top: 0;
}

.chat-form .input-cont {
    margin: 10px;
}

.responsive {
  overflow-x: auto;
}

.copyright {
    color: #fff;
    text-align: center;
}

.copyright a {
    color: #fff;
}

.table-scrollable {
    border: none;
}

.dataTables_wrapper .dataTables_paginate {
    margin-bottom: 12px;
}

/*-------------------------------- Media Queries -----------------------------------*/

/* iPad */

@media only screen and (max-width: 768px) {
.dataTables_wrapper .dataTables_paginate {
    margin-top: 0px;
}

.checkbox-list {
    margin-left: 16px;
}


}

/* Mobile Devices */
@media only screen and (max-width: 468px){
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle .username {
    display: inline-block;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown {
    padding: 2px 4px 3px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle .username {
    color: #000;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle:hover {
    background-color: #f5f5f5;
}

.nav>li>a {
    padding: 10px 9px;
}

.page-header.navbar .top-menu,
.page-header.navbar .top-menu .navbar-nav {
    width: 100%;
}

.top-menu li {
	width: 50%;
}

.dropdown-menu li {
	width: 100%;
	padding: 0 10px 0 0;
}

div#google_translate_element {
    margin: 10px 0;
}


.dataTables_wrapper .dataTables_paginate {
    margin-bottom: 12px;
}

.nav-tabs > li > a, .nav-pills > li > a {
    font-size: 13px;
}

.titleclass {
    font-weight: 500;
    width: 125px;
}

}





