<div class="page-content-wrapper">
		<div class="page-content">
<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<div class="tabbable tabbable-custom boxless tabbable-reversed">
						
						
							<div class="tab-pane active" id="tab_0">
								<div class="portlet box green">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-gift"></i><?php echo __('Edit Role'); ?>
										</div>
										
									</div>
                                   
										<!-- BEGIN FORM-->
										
									<div class="portlet-body form">

									<?php echo $this->Form->create('Role',array('class'=>'form-horizontal'));// debug($roles);?>
                                    <div class="form-body">
												
                                                
                                            <?php 
											
												echo $this->Form->input('id');
                                       			echo $this->Form->input('role_type',array('required'=>true,'div'=>array('class'=>'form-group'),'label'=>array('class'=>'col-md-3 control-label','text'=>'Role Type'),'between'=>'<div class="col-md-4">','after'=>'</div>','class'=>'form-control'));						 
									  			echo $this->Form->input('role_name',array('required'=>true,'div'=>array('class'=>'form-group'),'label'=>array('class'=>'col-md-3 control-label','text'=>'Role Name'),'between'=>'<div class="col-md-4">','after'=>'</div>','class'=>'form-control'));
												
												
												
												
												
												
											
												 //echo $this->Html->link(__('next'), array('controller'=>'Addresses','action' => 'add'));
										    ?>
                                           <div class="form-actions fluid">
												<div class="col-md-offset-3 col-md-9">
													<button type="submit" class="btn blue">Submit</button>
													<!--<button type="button" class="btn default">Cancel</button>-->
												</div>
											</div>
                                         <?php echo $this->Form->end(); ?>   
                                     </div>   
                                   
										<!-- END FORM-->
									</div>
								</div>							
								
							</div>
							
							
						
					</div>
				</div>
			</div>
			<!-- END PAGE CONTENT-->
   

<!--
<div class="roles form">
<?php echo $this->Form->create('Role'); ?>
	<fieldset>
		<legend><?php echo __('Edit Role'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('role_type');
		echo $this->Form->input('role_name');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div>
    <?php echo $this->element('homePage');?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('Role.id')), array(), __('Are you sure you want to delete # %s?', $this->Form->value('Role.id'))); ?></li>
		<li><?php echo $this->Html->link(__('List Roles'), array('action' => 'index')); ?></li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
	</ul>
</div>-->



		 </div>
    
  </div>