<div class="page-content-wrapper">
		<div class="page-content">
<div class="row">
<div class="col-md-12">
<div class="passes form">
<?php echo $this->Form->create();?>
	<fieldset>
		<legend><?php
		           // debug($this->Session->read('Auth'));
		           //debug($this->Session->params);
		           CakeSession::write('PropertyName',$this->Session->params['Property']['name']);
		            echo $this->Session->flash(); ?></legend>
	<?php
		//debug($this->Auth->user());
		//$userdata = $this->session->read('Auth.User');
		//debug($userdata);

	?>
	</fieldset>
</div>

</div>
</div></div></div>