<div class="row">
		<div class="col-xs-4">
			<h3><b><?php echo AuthComponent::user('first_name').' '.
							AuthComponent::user('last_name');
						?>
				</b>
			</h3>

		</div>
		<div class="col-xs-4">
			<h4><b>Username: </b><?php
									echo AuthComponent::user('username').' '.
				?>
			</h4>
		</div>
		<div class="col-xs-4">
			<h4><b>Email: </b><?php
									echo AuthComponent::user('email').' '.
				?>
			</h4>
		</div>
</div>
<h3>Account Details</h3>
<?php if(!empty($customerOtherVehicles)){?>
		 <?php if($customerOtherVehicles!=null){?>
				<?php $j=0;for($i=0;$i<(round(count($customerOtherVehicles)/2,0,PHP_ROUND_HALF_DOWN)+1)*2;$i=$i+2){?>
				     <div class="row">
						<?php if(array_key_exists($i,$customerOtherVehicles)){?>
							<div class="col-xs-6">
								<dl class="dl-horizontal">
									<dt>Full Name</dt>
										<dd><?php ?></dd>
									<dt>User Name</dt>
										<dd><?php ?></dd>
									<dt>Address</dt>
										<dd><?php ?></dd>
									<dt>Email</dt>
										<dd><?php ?></dd>
									<dt>Phone</dt>
										<dd><?php ?></dd>
								</dl>
							</div>
						<?php }?>
						<?php if(array_key_exists($i+1,$customerOtherVehicles)){?>
							<div class="col-xs-6">
								<dl class="dl-horizontal">
									<dt>Full Name</dt>
										<dd><?php ?></dd>
									<dt>User Name</dt>
										<dd><?php ?></dd>
									<dt>Address</dt>
										<dd><?php ?></dd>
									<dt>Email</dt>
										<dd><?php ?></dd>
									<dt>Phone</dt>
										<dd><?php ?></dd>
								</dl>
							</div>
						  <?php }?>
						 </div>
					<?php }?>
		<?php }?>
<?php }?>

